header {
	height: 1000px;
	background-image: url("../images/header_bg.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin: 50px;
	color: white;
}

header h1 {
	font-weight: 800;
	font-size: 24px;
	margin: 50px;
	padding-top: 30px;
}

header h2 {
	font-size: 20px;
	padding-top: 50px;
	text-align: center;
	font-weight: 600;
	margin-top: -45px;
}


button {
	display: block;
	background-color: #f9e42e;
	width: 100px;
	text-decoration: none;
	color: ;
}

body {

	font-family: 'Open Sans', sans-serif;
}
