

body {
	text-align: center;
}
img {
	width: 20px;
	height: 20px;
	position: relative;
	top: 5px;

}

h2 {
	font-style: italic;
}

#experience {

	text-align: center;
}

ul {

	text-align: center;
	margin: 0 auto;
	width: 400px;
}

