body {
	background-color: #FCFFF5;
}

/* This is the container that wraps all of the content*/
#container {
	font-family: Arial;
	margin: 25px;
}

h3, h4 {
	font-family: 'Parisinne';
	text-align: center;
}

header {
	border: 2px solid #d3d3d3;
	background-color: #d3d3d3;
	font-size: 12px;
	color: white;
	padding: 25px;
}

nav ul {
	list-style: none;
	padding: 2px;
	width: 30%;
}

nav ul li {
	float: left;
	padding: 5px;
}

nav ul li a {
	text-decoration: none;
}

nav form {
	float: right;
	width: 30%;
}

.logo {
	width: 100%;
	border: 1px solid #d3d3d3;
	height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* This is styling for all blog posts*/

h3 {
	color: gray;
}

h4 {
	font-style: italic;
}

.post .one{
	background-color: #FFE9E4;
}

.post p {
	font-size: 12px;
	padding: 20px;
}
/*These are the start of the individual blogs*/

.header {
	border: 1px solid white;
	background-color: #CDE7DC;
}

.comment {
	text-align: center;
}

#blogposts {
	float: left;
	width: 58%;
	margin-bottom: 10px;
}

/*This is for the beauty picks of the week div*/

.side-div {
	float: right;
	width: 40%;
	height: 300px;
	background-color: #FFE9E4;
	margin-bottom: 20px
}


#images ul {
	list-style: none;
}

#images li {
	display: inline;
}

.social {
	float: right;
	width: 40%;
	height: 200px;
	background-color: #FFE9E4;
	margin-bottom: 20px;
}


footer {
	clear: both;
	text-align: center;
	background-color: #d3d3d3;
	padding: 10px;
	font-size: 9px;
}

footer a {
	color: #FFE9E4;
	text-decoration: none;
}