/* This tells me that all the elements listed are going to take the following styles*/
header, .col-1, .col-2, footer {
	text-align: center;
	font-weight: 800px;
	font-size: 75px;
	font-family: sans-serif;
	border: 5px solid black;
}


div{
	min-height: 300px;
	box-sizing: border-box;
	margin: 5px;
}

/* You need to also float both elements in order to get them to go side by side*/
.col-1 {
	float: left;
	width: 64%;
}

.col-2 {
	float: left;
	width: 34%;
}


footer {
	clear: both;
}
